
@{
    ViewBag.Title = "OtherView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<header class="my-masthead">
        <div class="my-fluid-container">
            <div class="left">LEFT</div>
            <div class="right">RIGHT</div>
        </div>
</header>